{{#if username}}
<h2>{{ username }}</h2>
<table class="table">
  <tr>
    <td>Name:</td>
    <td>{{ name }}</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>{{ location }}</td>
  </tr>
  <tr>
    <td>Youtube:</td>
    <td>{{ youtube }}</td>
  </tr>
  <tr>
    <td>Twitter:</td>
    <td>{{ twitter }}</td>
  </tr>
</table>
{{/if}}