<h2>Edit your profile</h2>
<form action="/users" method="POST">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username" id="username" value="{{ username }}">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" name="email" id="email" value="{{ email }}">
  </div>
  <div class="form-group">
    <label for="bio">About You:</label>
    <input type="text" class="form-control" name="bio" id="bio" value="{{ bio }}">
  </div>
  <div class="form-group">
    <label for="location">Location:</label>
    <input type="text" class="form-control" name="location" id="location" value="{{ location }}">
  </div>
  <button class="btn btn-primary">Edit Profile</button>
</form>
<br>
<p><a href="/users/{{username}}" target="_blank">My profile</a></p>